/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


/*====== Variables ======*/
:root {
  --yellow: #EAC926;
  --dark-blue: #03264C;
  --light-blue: #1259c3;
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --base-font-family: 'Roboto', sans-serif;
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --bg-color: hsl(220, 18%, 78%);
  --bg-color-light: hsl(220, 18%, 86%);
  --title-color: hsl(220, 8%, 10%);
  --text-color: hsl(220, 4%, 32%);
  --text-color-light: hsl(220, 4%, 55%);
  --body-color: hsl(220, 18%, 99%);
  --container-color: hsl(220, 18%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Lora', serif;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1124px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


/*====== Basics ======*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  margin-top: 3%;
  font-size: 10px;
  
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /*For animation dark mode*/
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  font-family: inherit;
}

hr {
  border: none;
  border-bottom: solid 1px var(--light-gray);
}



/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{ 
  --bg-color: hsl(220, 18%, 13%);
  --bg-color-light: hsl(220, 18%, 23%);
  --title-color: hsl(220, 8%, 95%);
  --text-color: hsl(220, 4%, 65%);
  --body-color: hsl(220, 18%, 18%);
  --container-color: hsl(220, 18%, 21%);
}

/*========== Button Dark/Light ==========*/
.change-theme{
  color: var(--title-color);
  font-size: 1.125rem;
  cursor:pointer;
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/
.dark-theme .scrolll-header{
  box-shadow: 0 2px 8px hsl(220, 18%, 8% .3);
}
.dark-theme .nav__menu{
  background-color: var(--container-color);
}
.dark-theme .nav__menu,
.dark-theme .scrollup{
  box-shadow: 0 4px 8px hsl(220, 18%, 8% .3);
}

.dark-theme::-webkit-scrollbar{
  background-color: hsl(220, 18%, 35%);
}  
.dark-theme::-webkit-scrollbar-thumb{
  background-color: hsl(220, 18%, 25%);
}  
.dark-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(220, 18%, 35%);
}  


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 3rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.nav__logo{
  color: var(--title-color);
  font-weight: var(--font-medium);
}
@media screen and (max-width: 1024px) {
  .nav__menu{
    position: fixed;
    bottom: 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsl(220, 18%, 40%, .15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.5rem 2.8rem;
    border-radius: .5rem;
    transition: .4s;
  }
  .nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__link{
    color: var(--text-color-light);
    font-weight: var(--font-medium);
    display: grid;
    justify-items: center;
    row-gap: .25rem;
  }
  .nav__link i{
    font-size: 1.25rem;
  }
  .nav__link span{
    font-size: .638rem;

  }
}
/* Change background header */
.scroll-header{
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsl(220, 4%, 15%, .1);
}

/* Active link */
.active-link{
  color: var(--title-color);
}

/*=============== HOME ===============*/
.home{
  background-color: var(--bg-color);
  overflow: hidden;
}
.home__container{
  padding: 4rem 0 1rem;
  row-gap: 8.5rem;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: 400;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: 400;
}

.home__description{
  color: var(--title-color);
  margin: 1rem 0 2rem;
}

.home__title,
.home__description{
  line-height: 140%;
}

.home__images{
  position: relative;
  width: 310px;;
  justify-self: center;
}


.home__images img:nth-child(1){
  width: 224px;
  position: absolute;
  right: -1.5rem;
  top: -9.5rem;
}

.home__images img:nth-child(2){
  width: 180px;
  margin-left: .5rem;
  position: relative;
}
/*=============== BUTTON ===============*/
.button__link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.button__link i{
  font-size: 1rem;
  transition: .3s;
}

.button__link:hover i{
  transform: translateX(.25rem);

}

/*=============== NEW ===============*/
.new__container{
  row-gap: 2.5rem;
  padding-bottom: 1.5rem;
}

.new__card{
  justify-self: center;
}

.new__img{
  width: 270px;
  margin-bottom: 1rem;
}

.new__link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(-title);
  padding-right: -75rem;
}

.new__link i{
  font-size: 1.25rem;
  transition: .3s;
}

.new__title{
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.new__subtitle{
  font-size:var(--smaller-font-size);
  color: var(--text-color);
}

.new__link:hover i{
  transform: translateX(.25rem);
}


/*====== Main Header ======*/
/* .main-header {
  padding: 15px 0;
  background-color: var(--yellow);
}

.main-header_home-link,
.main-header_credit-link {
  display: block;
}

.main-header_credit-link {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form_input {
  border: solid 1px var(--light-gray);
  display: block;
  width: 100%;
  padding: 7px 35px 7px 7px;
  border-radius: 3px;
  height: 40px;
  font-size: 1.5em;
}

.search-form_button {
  position: absolute;
  right: 2px;
  height: 60%;
  background-color: #ffffff;
  border: none;
  border-left: solid 1px var(--light-gray);
  color: var(--gray);
  cursor: pointer;
}
 */

/*====== Main Navbar ======*/
.btn-toggle-navbar {
  background-color: var(--dark-blue);
  color: #ffffff;
  font-size: 1.5em;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  display: block;
  margin: 20px auto 0;
}

.main-navbar {
  margin-top: 20px;
  display: none;
}

.left-navbar,
.right-navbar {
  font-size: 1.5em;
}

.left-navbar a,
.right-navbar a {
  display: block;
  padding: 5px 0;
  border-bottom: solid 1px var(--gray);
}


/*====== Banner ======*/
.banner {
  background-image: url(/images/img-home-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100px;
}


/*====== Products ======*/
.products-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.products-title {
  font-size: 2.4em;
  font-weight: 400;
  color: var(--gray);
}

.product-box {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
}

.product-box a {
  display: block;
}

.product-box_image {
  border-bottom: 1px solid var(--light-gray);
}

.product-box_data {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-box_data h2 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
}

.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--green);
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 1.5em;
  width: 100%;
  color: var(--gray);
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: var(--green);
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.product-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product-box:hover p {
  height: 40px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px var(--green);
}


/*====== Footer ======*/
.main-footer {
  background-color: #ffffff;
  padding: 20px 0;
  margin-top: 80px;
}

.footer-data {
  text-align: center;
}

.footer-data i {
  color: var(--light-blue);
  font-size: 3.5em;
}

.footer-data h2 {
  color: var(--gray);
  font-size: 2.4em;
  font-weight: 400;
}

.footer-data p {
  color: var(--gray);
  font-size: 1.5em;
  font-weight: 300;
}

.sub-footer {
  border-top: 1px solid var(--light-gray);
  background-color: #ffffff;
}

.sub-footer p {
  margin: 0;
  color: var(--gray);
  padding: 15px 0;
}







/*====== Media-Queries ======*/
/* @media (min-width: 768px) {
  .main-header_credit-link {
    margin-top: 0;
    text-align: right;
  }

  .banner {
    height: 320px;
  }

  .btn-toggle-navbar {
    display: none;
  }

  .main-navbar,
  .left-navbar,
  .right-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .left-navbar a,
  .right-navbar a {
    border-bottom: none;
  }

  .left-navbar a:hover,
  .right-navbar a:hover {
    color: var(--light-blue);
  }

  .left-navbar li {
    margin-right: 15px;
  }

  .right-navbar li {
    margin-left: 15px;
  }

  .main-footer {
    padding: 40px 0;
  }

  .footer-data {
    width: 95%;
    margin: auto;
  }
} *//*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width:340px)  {
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .footer__content{
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
  .nav__menu{
    padding: 1rem 1.5rem;
  }
  .home__container{
    padding: 2rem 0 1rem;
    row-gap: 6rem;
  }
  .home__description{
    font-size: var(--small-font-size);
  }
  .home__images{
    width: 248px;
  }
  .home__images img:nth-child(1){
    width: 180px;
    top: -7rem;
  }
  .home__images img:nth-child(2){
    width: 150px;
  }
  .new__img{
    width: 230px;
  }
  .new__link{
    padding-right: 0;
  }
  .collection__explore:nth-child(1),
  .collection__explore:nth-child(2){
    position: initial;
    grid-template-columns: 230px;
    row-gap: 2rem;
    margin: 0;
  }
  .collection__container{
    height: initial;
    row-gap: 3rem;
  }
  .collection__data-men{
    margin-top: 0;
  }
  .collection__data-women{
    margin-top: 0;
  }
  .products__card{
    width: 230px;
  }
  .brand__container{
    grid-template-columns:repeat(2, 100px) ;
    row-gap: .5rem;
  }
}

/* For medium devices */
@media screen and (min-width:576px) {
  .nav__menu{
    width: 342px;
  }

  .footer__content{
    grid-template-columns: repeat(3, max-content); 
  }
}

@media screen and (min-width: 767px) {
  .home__container,
  .new__container{
    grid-template-columns: repeat(2,max-content);
    justify-content: center;
  }
  .home__images{
    margin-top: 6rem;
  }

  .brand__container{
    grid-template-columns: repeat(4, max-content);
  }
  .footer__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .section{
    padding: 7rem 0 1rem;
  }
  .section__title{
    margin-bottom: 4rem;
  }
  .nav{
    height: calc(var(--header-height) + 1.5rem );
  }
  .nav__menu{
    width: initial;
    margin-left: auto;
  }
  .nav__list{
    display: flex;
    column-gap: 3rem;
  }
  .nav__link{
    color: var(--text-color);
    font-weight: var(--font-medium);
    transition: .3s;
  }
  .nav__link i{
    display: none;
  }
  .nav__link:hover{
    color: var(--title-color);
    text-decoration: line-through;
  }
  .active-link{
    color: var(--title-color);
    text-decoration: line-through;
  }
  .change-theme{
    margin-left: 3rem;
    color: var(--text-color);
  }
  .dark-theme .nav__menu{
    background-color: transparent;
    box-shadow: none;
  }
  .products__container{
    width: 954px;
  }
  .collection__container {
    position: relative;
    height: 550px;
    display: grid;
    justify-content: inherit;
    margin-left: 260px;
}
  .footer__content{
    grid-template-columns: repeat(4, max-content);
    column-gap: 5.5rem;
  }
  .footer__link{
    font-size: var(--normal-font-size);
  }
  .footer__info{
    padding-bottom: 2rem;
    row-gap: 1rem;
  }
}

