  <!--==================== HEADER ====================-->
  <header class="header" id="header">
	<div class="main-header">	<nav class="nav container">
		<a href="/" class="nav__logo">
			shop
			<i class="ri-football-line" ></i>
		</a>

		<div class="col-7 col-md-6">
			<form action="/search" method="GET" class="search-form-desktop">
				<div class="search-bar">
				<input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-form_input">
				<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
			</div>
			</form>
		</div>

		<div class="nav__menu" id="nav-menu">
			<ul class="nav__list">
				<li class="nav__item">
					<a href="#home" class="nav__link active-link ">
						<i class="ri-home-line"></i>
						<span>home</span>
					</a>
				</li>

				<li class="nav__item">
					<a href="#new" class="nav__link">
						<i class="ri-price-tag-3-line"></i>
						<span>New</span>
					</a>
				</li>

				<li class="nav__item">
					<a href="#collection" class="nav__link">
						<i class="ri-compass-line"></i>
						<span>Ofertas</span>
					</a>
				</li>

				<li class="nav__item">
					<a href="/products/create" class="nav__link">
						<i class="ri-t-shirt-line"></i>
						<span>Products</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- theme change button -->
		<i class="ri-moon-line change-theme" id="theme-button"></i>
		
		<div class="user-icons-desktop">
        <a href="/products"><i class="fas fa-shopping-cart"></i></a>
        </div>  
	</nav>
</div>

</header>

<!-- 
	
	<div class="container">
		<div class="row align-items-center">
			<div class="col-5 col-md-2">
				<a href="/" class="main-header_home-link">
					<img src="/images/logo-mercado-liebre.svg">
				</a>
			</div>

			<div class="col-7 col-md-6">
				<form action="/search" method="GET" class="search-form">
					<input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-form_input">
					<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
				</form>
			</div>

			<div class="col-12 col-md-4">
				<a href="#" class="main-header_credit-link">
					<i class="fas fa-hand-holding-usd"></i>
					Comprá en cuotas y sin tarjeta de crédito
				</a>
			</div>
		</div>

		<button class="btn-toggle-navbar">
			<i class="fas fa-bars"></i>
		</button>

		<nav class="main-navbar">
			<ul class="left-navbar">
				<li><a href="/products">Todos los productos</a></li>
				<li><a href="#">Ofertas</a></li>
				<li><a href="#">Tiendas Oficiales</a></li>
				<li><a href="/products/create">Vender</a></li>
				<li><a href="#">Ayuda</a></li>
			</ul>

			<ul class="right-navbar">
				<li><a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
				<li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
				<li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
			</ul>
		</nav>
	</div>
</header> -->