<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %> - Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
</head>
 <!--=============== FAVICON ===============-->
 <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

 <!--=============== REMIXICONS ===============-->
 <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
 
 <!--=============== SWIPER CSS ===============-->
 <link rel="stylesheet" href="/css/swiper-bundle.min.css">

 <!--=============== CSS ===============-->
 <link rel="stylesheet" href="/css/style.css">

 <title>Responsive clothing ecommerce - Bedimcode</title>
